.courses {
  min-height: max-content;
  background-color: $white;
  // border-radius: 24px;image.png
  padding: 5.5rem 9%;
  gap: 5rem;
  &_card {
    max-width: 100%;
    transform: rotate(2.5deg);
    padding: 0 0.5rem;
    transition: 0.2s linear;
    &:hover {
      transform: rotate(0deg);
      padding: 0;
    }
    &_content {
      transform: rotate(-2.5deg);
      transition: 0.1s linear;
      &:hover {
        transform: rotate(0deg);
      }
      @media (max-width: 860px) {
        flex-direction: column;
      }
      img {
        width: 250px;
        margin: 0 3rem;
        @media (max-width: 1040px) {
          margin: 0;
        }
      }
      &_info {
        h1 {
          @media (max-width: 860px) {
            text-align: center;
          }

          @media (max-width: 540px) {
            strong {
              font-size: 24px;
            }
          }
        }
        &_badge {
          background: $green !important;
          @media (max-width: 540px) {
            font-size: 18px;
          }
        }
        li {
          font-weight: 400;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 0.04em;
        }
        b {
          font-style: normal;
          font-weight: 800;
          font-size: 26px;
          line-height: 34px;
          color: $green;
        }
        &_status {
          gap: 3rem;
          @media (max-width: 860px) {
            justify-content: center;
          }
          @media (max-width: 540px) {
            text-align: center;
            flex-direction: column;
            gap: 1rem;
          }
        }
      }
    }
  }
}
