*,
p,
h1 {
  // font-family: "Lato", sans-serif;
  font-family: Alethia;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  overflow-x: hidden;
}
section {
  padding: 3rem 12%;
}
