.header {
  padding: 0.5rem 9%;
  height: 92vh;
  background-color: $white;
  border-radius: 24px;
  background-image: url("../images/fff\ 1.svg");
  background-position: right;
  background-size: cover;
  @media (max-width: 1030px) {
    justify-content: center !important;
    background-image: url("../images/header-bg-rsponsive.svg");
    background-position: center;
  }

  &_card {
    max-width: 500px;
    height: max-content;
    transform: rotate(5deg);
    background-color: $lightGreen;
    border-radius: 21px;
    color: $main;
    @media (max-width: 540px) {
      transform: rotate(3deg);
    }

    &_content {
      padding: 2rem;
      background-color: $white;
      transform: rotate(-5deg);
      border: 1px solid $lightGrey;
      border-radius: 21px;

      &_title {
        font-style: normal;
        font-weight: 800;
        font-size: 31px;
        line-height: 40px;
      }
      &_numbers {
        padding-top: 1rem;
        &_num {
          background-color: $lightGreen;
          border-radius: 500px;
          width: 50px;
          height: 50px;
          font-weight: 800;
          font-size: 31px;
          line-height: 40px;
          @media (max-width: 540px) {
            width: 40px;
            height: 40px;
          }
        }
        &_content {
          width: 90%;
          strong {
            font-style: normal;
            font-weight: 800;
            font-size: 21px;
            line-height: 27px;
            color: $green;
          }
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
      @media (max-width: 540px) {
        padding: 1rem;
        transform: rotate(-3deg);
        &_title,
        strong,
        div {
          font-size: 18px;
          line-height: 20px;
        }
      }
    }
  }
}
.title {
  background-color: $secondary;

  padding: 1rem;
  border-radius: 24px;
  h3 {
    font-weight: 800;
    font-size: 33px;
    color: $main;
    margin: 0;
    width: max-content;
    @media (max-width: 540px) {
      font-size: 22px;
    }
  }
}
