.navbar {
  padding: 0.5rem 9%;
  background: linear-gradient(89.9deg, $main 43.9%, $secondary 80.17%);
  border-radius: 24px;
  height: 8vh;

  &_left {
    gap: 25px;

    img {
      width: 121px;
    }
    a {
      text-decoration: none;
      color: $secondary;
      font-family: "K2D";
      font-size: 17px;
      line-height: 26px;
      cursor: url("../images/cursor-pointer.svg"), auto;
      @media (max-width: 730px) {
        display: none;
      }
    }
  }
  &_right {
    color: $main;

    a {
      text-decoration: none;
      color: $main;
      cursor: url("../images/cursor-pointer.svg"), auto;
    }
    @media (max-width: 730px) {
      display: none !important;
    }

    cursor: url("../images/cursor-pointer.svg"), auto;
    * {
      transition: 0.3s linear;
    }
    p {
      font-family: "K2D";
      font-size: 20px;
      line-height: 26px;
    }
    &:hover {
      i {
        animation-name: rotatePhone;
        animation-duration: 0.3s;
      }
    }
  }
  &_hamBar {
    display: none;
    @media (max-width: 730px) {
      display: inline;
    }
  }
}
@keyframes rotatePhone {
  0% {
    transform: rotate(-30deg);
  }
  25% {
  }
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(0);
  }
}

.dropDownMenu {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  right: (3%);
  top: 9vh;
  background-color: $secondary;
  gap: 20px;
  height: 0;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;

  a {
    color: $main;
    text-decoration: none;
  }
}
.dropDownMenu.open {
  display: flex;
  height: max-content;
  padding: 1rem;
}
