.navbar {
  padding: 0.5rem 9%;
  background: linear-gradient(89.9deg, $main 43.9%, $green 80.17%);
  // border-radius: 24px;
  height: 8vh;

  &_left {
    gap: 25px;

    img {
      width: 121px;
    }
    a {
      text-decoration: none;
      color: $secondary;
      font-family: "K2D";
      font-size: 17px;
      line-height: 26px;
      cursor: url("../images/cursor-pointer.svg"), auto;
      @media (max-width: 890px) {
        display: none;
      }
    }
  }
  &_right {
    color: $white;
    a {
      font-size: 22px;
      text-decoration: none;
      color: $white;
      cursor: url("../images/cursor-pointer.svg"), auto;
      
    }

    cursor: url("../images/cursor-pointer.svg"), auto;
    p {
      font-family: "K2D";
      font-size: 20px;
      line-height: 26px;
    }
    &:hover {
      i {
        animation-name: rotatePhone;
        animation-duration: 0.3s;
      }
    }
    @media (max-width: 890px) {
      display: none !important;
    }
  }
  &_hamBar {
    display: none;
    @media (max-width: 890px) {
      display: inline;
    }
  }
}
@keyframes rotatePhone {
  0% {
    transform: rotate(-30deg);
  }
  25% {
  }
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(0);
  }
}

.dropDownMenu {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  right: (3%);
  top: 9vh;
  background-color: $secondary;
  gap: 20px;
  height: 0;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.0175, 0.0885, 0.032, 1.0275);

  a {
    color: $main;
    text-decoration: none;
  }
}
.dropDownMenu.open {
  width: 94%;
  display: flex;
  height: max-content;
  padding: 1rem;

  box-shadow: 0 70px 50px #0003, 50px 0 50px #0004, -50px 0 50px #0004;

  @media (min-width: 890px) {
    display: none;
  }
}

.up {
  background-color: $green;
  position: fixed;
  bottom: 4vh;
  right: 9%;

  z-index: 1;
  border-radius: 50%;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.0175, 0.0885, 0.032, 1.0275);
  cursor: url("../images/cursor-pointer.svg"), auto;
  box-shadow: 0 0 30px #0004;

  width: 0;
  height: 0;
  padding: 0;
}
.show {
  width: 60px;
  height: 60px;
  padding: 1rem;
}
