@import "_theme";
@import "_basics";
@import "_head";
@import "_navbar";
@import "_header";
@import "_parents_&_students";
@import "_whom";
@import "_courses";
@import "_contacts";
@import "_map";
@import "_footer";

body {
  background-color: $main;
  cursor: url("../images/cursor.svg"), auto;
}

// media
@media (max-width: 1200px) {
  section {
    padding: 3rem 6%;
  }
}
@media (max-width: 991px) {
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 500px) {
  section {
    padding: 3rem 0.8rem;
  }
}
